    body {
        font-family: Arial, sans-serif;
        background-image: url(img/img1.jpg);
        /* Specify the image path */
        background-size: 1600px;
        /* Adjust the background image size */
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .container {
        background-color: rgba(255, 255, 255, 0.8);
        /* Add a semi-transparent white background to the container */
        padding: 50px;
        /* Adjust the padding to your preference */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: left;
        max-width: 500px;
        width: 90%;
        margin: auto;
    }
    
    h1 {
        margin-bottom: 20px;
    }
    
    .input-container {
        margin-bottom: 35px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }
    
    button {
        /*background-color: palevioletred;*/
        background-color: #007BFF;
        color: white;
        padding: 12px 40px;
        /* Increase padding to make the button larger */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    
    button:hover {
        background-color: gray;
        /* Change the color on hover */
    }